*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-image: url("img/corona.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: Literata;
    color: white;
}

#navbar {
    overflow: hidden;
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(8, 106, 135, 0.25);
}

.logo {
    position: relative;
    left: 3%;
    width: 500px;
    height: 150px;
}

.logo img {
    width: 150px;
    height: 150px;
}

.logo a {
    display: flex;
    flex-direction: row;
}

.logo h1 {
    font-size: 250%;
    margin-top: 2%;
}

.links {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 4%;
    margin-right: 7%;
}

.links div {
    margin: 0 15;
    display: inline-block;
}

a {
    text-decoration: unset;
    color: white;
    font-weight: bold;
    font-size: 110%;
}

a:hover {
    color: rgb(8, 106, 135);
}


#sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10% 5%;
}

.camila {
    display: fixed;
    margin-top: 5%;
    margin-left: 3%;
}

.camila img {
    width: 220%;
    border-radius: 10px;
    box-shadow: lightskyblue 2px 2px 7px;	
}

.descricao {
    display: flex;
    position: relative;
    flex-direction: column; 
    justify-content: space-around;
    margin-top: 3.5%;
    margin-right: 5%;
    margin-left: 20%;
}

.descricao p {
    border: 1px solid lightskyblue;
    border-radius: 10px;
    box-shadow: lightskyblue 2px 2px 7px;
    padding: 1%;
    color: white;
    background-color: rgba(8, 106, 135, 0.25);
    text-align: justify;
    font-size: 120%;
    line-height: 200%;
}

.descricao p:first-letter {
    font-size: 200%;
    font-weight: 900;
  }

#redesSociais {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    border: 1px solid lightskyblue;
    border-radius: 10px;
    box-shadow: lightskyblue 2px 2px 7px;
    background-color: rgba(8, 106, 135, 0.25);
}  

.redes {
    margin: 2% 2%;
    padding: 1%;
}

.redes a { 
    color: white;
    font-size: 400%;
    position: relative;
}

/* #paginaInicial {
    text-align: center;
    margin-bottom: 5%;
}

#paginaInicial a {
    text-decoration: unset;
    color: rgb(8, 106, 135); 
}

#paginaInicial button {
    background-color: rgba(181, 220, 233, 0.904);
    border-radius: 3px;
    width: 6%;
    height: 4%;
} */

#footer {
    display: flex;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background-color: rgba(8, 106, 135, 0.25);
}

.copyright {
    display: flex;
    position: relative;
    left: 46%;
    opacity: 0.7;
    font-size: 80%;
}


@media screen and (max-width: 1366px) {
    .redesSociaisf {
        display: flex;
        position: relative;
        left: 80%;
    }  

    .redesf a { 
        font-size: 200%;
    }
}

@media screen and (min-width: 1367px) {
    .redesSociaisf {
        display: flex;
        position: relative;
        left: 83%;
    }  

    .redesf a { 
        font-size: 250%;
    }
}

.redesf {
    margin: 5% 10%;
    padding: 2%;
}